.header {
    display: flex;
    background-color: black;
    padding: 10px 10px 10px 10px;
}

body {
    margin: 0px;
    font-family: Times;
    background-color: #8299ee;
}

.logo-container {
    font-size: 15px;
    padding: 0px 0px 0px 0px;
    color: #6e7df3;
}

.navigation {
  overflow: hidden;
  background-color: black;
  margin-left: auto;
  margin-right: 2.4em;
}

.navigation a {
  float: left;
  color: #8299ee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  list-style-type:  none;
}

.navigation a:hover {
  background-color: #8299ee;
  color: black;
}

.navigation a.active {
  background-color: #4CAF50;
  color: white;
}

.title3 {
    text-decoration: none;
    margin-top: 30px;
    color: black;
    margin-left: 4em;
    margin-right: auto;
    font-size: px;
    text-decoration: none;
}

.title3 a {
    font-size: 40px;
    text-decoration: none;
    color: black;
}
.title3 a:hover {
    text-decoration: none;
    color: #3efffa;
}